<h1 align="center">מחשבון דילול עצי פרי - העמוד בבניה</h1>
<div class="container">
  <%= image_tag("appletrees.jpg", :class => "center", :alt => "rss feed", :width => "100%", :height => "100%") %>
  <%= button_to "לחץ כאן להתחלה", { :action => "new" }, :method => :get, class: 'btn' unless Rails.env.production? %>
</div>
