<h1 class="hdr">מחשבון דילול עצי פרי</h1>
<br>
<div class="info">
    <br>
    <strong><p class="info">מחשבון זה נועד על מנת לעזור למגדל בקבלת החלטות לקראת דילול.</strong>
    המחשבון יחשב את מספר הפירות שיש להשאיר על העץ לפי הנתונים שהוכנסו, על מנת להגיע למשקל פרי מיטבי ביבול הרצוי.</p>
    <br>
    <p class="info">אשמח לסייע בכל שאלה, ניתן ליצור קשר דרך התפריט. ענת זיסוביץ' - מדריכת מטעים</p>
    <br>
</div>
<br>
<div class="container">
  <%= button_to "לחץ כאן להתחלה", { :action => "new" }, :method => :get, class: 'btn' %>
</div>
