<h1 class="hdr">מחשבון דילול עצי פרי</h1>
<br>
<div class="container start_btn">
  <%#= link_to image_tag("diluhelp.png"), {:controller => 'plots', :action => "new" } %>
  <%#= button_to "לחץ כאן להתחלה", { :action => "new" }, :method => :get, class: 'btn' %>
  <%= button_to "", { :action => "new" }, :method => :get, class: 'start_btn' %>
</div>
<br>
<div class="info">
    <strong><p class="info">מחשבון זה נועד על מנת לעזור למגדל בקבלת החלטות לקראת דילול.</strong>
    המחשבון יחשב את מספר הפירות שיש להשאיר על העץ לפי הנתונים שהוכנסו, על מנת להגיע למשקל פרי מיטבי ביבול הרצוי.</p>
    <p class="info">אשמח לסייע בכל שאלה, ניתן ליצור קשר דרך התפריט.</p>
    <strong><p class="info">ענת זיסוביץ' - מדריכת מטעים</strong>
    <br>
</div>
