/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/cultivars.scss */
#cultivars {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/cultivars.scss */
#cultivars td, #cultivars th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/cultivars.scss */
#cultivars tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/cultivars.scss */
#cultivars tr:hover {
  background-color: #ddd;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/cultivars.scss */
#cultivars th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.topnav-right {
  float: right;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
/* line 56, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 11px 14px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Links inside the dropdown */
/* line 84, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown links on hover */
/* line 94, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
/* line 99, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 103, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.button {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* line 116, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.button:visited {
  color: white;
}

/* line 121, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.button:hover {
  background-color: green;
}

/* line 125, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.smallbutton {
  border-radius: 3px;
  padding: 6px 16px;
  font-size: 12px;
}

/* line 131, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.finput[type=text], input[type=number], input[type=password], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
}

/* line 142, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.hdr {
  text-align: center;
  font-size: 30px;
}

/* line 147, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.flabel {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

/* line 161, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.finput[type=submit] {
  margin: auto;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  background: lightgrey;
  color: black;
  font-size: 24px;
}

/* line 176, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.finput[type=submit]:hover {
  background: grey;
  cursor: pointer;
}

/* line 181, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.backbutton {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: black;
  background: lightgrey;
}

/* line 192, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.backbutton:visited {
  color: black;
}

/* line 195, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.backbutton:hover {
  background: grey;
}

/* line 199, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
.bottomlink {
  font-size: 32px;
  color: #FFFFFF;
}

/* line 204, /home/ubuntu/workspace/app/assets/stylesheets/custom.scss */
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
  font-size: 18px;
}

/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 53, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 57, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 63, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 71, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 82, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 88, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/species.scss */
#species {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/species.scss */
#species td, #species th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/species.scss */
#species tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/species.scss */
#species tr:hover {
  background-color: #ddd;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/species.scss */
#species th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#users tr:hover {
  background-color: #ddd;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/users.scss */
#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/yieldrecs.scss */
#yieldrecs {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/yieldrecs.scss */
#yieldrecs td, #yieldrecs th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/yieldrecs.scss */
#yieldrecs tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/yieldrecs.scss */
#yieldrecs tr:hover {
  background-color: #ddd;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/yieldrecs.scss */
#yieldrecs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
