<p id="notice"><%= notice %></p>

<p class="flabel">
  <%= @species.name %>
</p>
<br>
<h1 class="hdr">זנים קשורים</h3>
<%= render 'cultivars/cultivars', cultivar_list: @species.cultivars.order('cultivars.name ASC').all %>
<br>
