<p id="notice"><%= notice %></p>

<h1>זנים</h1>

<%= render 'cultivars', cultivar_list: @cultivars.order('cultivars.name ASC') %>

<br>

<%= link_to 'הוסף זן', new_cultivar_path,{ :class=>"button" } %>
