// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cultivars {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#cultivars td, #cultivars th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cultivars tr:nth-child(even){background-color: #f2f2f2;}

#cultivars tr:hover {background-color: #ddd;}

#cultivars th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}