// body {
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
// }

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

// @media screen and (max-width: 600px) {  https://www.w3schools.com/css/css_navbar.asp
//   ul.topnav li.right, 
//   ul.topnav li {float: none;}
//}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px; 
  border: none;
  outline: none;
  color: white;
  padding: 11px 14px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
}

.button:visited {
  color: white;
}


.button:hover {
  background-color: green;
}

.smallbutton {
  border-radius: 3px;
  padding: 6px 16px;
  font-size: 12px;
}

.finput[type=text], input[type=number], input[type=password], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
}

.finput[type=checkbox] {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  transform: scale(2);
}

.hdr {
  text-align: center;
  font-size: 40px;
}

.flabel {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.finput[type=submit] {
  margin: auto;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  background: lightgrey;
  color: black;
  font-size: 24px;
}

.finput[type=submit]:hover {
  background: grey;
  cursor: pointer;
}

.backbutton {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: black;
  background: lightgrey;
}

.backbutton:visited {
  color: black;
}
.backbutton:hover {
  background: grey;
}

.bottomlink {
  font-size: 32px;
  color:#FFFFFF
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}