.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin:auto;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #white;
  color: black;
  font-size: 32px;
  padding: 24px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: grey;
}


#plot, #plot_results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

#plot td, #plot th, #plot_results td, #plot_results th {
  border: 1px solid #ddd;
  font-size: 26px;
  padding: 12px;
}

#plot tr:nth-child(even){background-color: #f2f2f2;}
#plot_results tr:nth-child(even){background-color: #f2f2f2;}

#plot tr:hover {background-color: #ddd;}
#plot_results tr:hover {background-color: #ddd;}

#plot th, #plot_results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}

// #plotshow, .button {
//   background-color: #908d8d;
//   width: 20%;
//   display: block;
// }


// #plotshow, .button:visited {
//   background-color: #908d8d;
// }

// #plotshow, .button:hover {
//   background-color: #636262;
// }
