.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin:auto;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #white;
  color: black;
  font-size: 32px;
  padding: 24px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: grey;
}


#plot {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#plot td, #plots th {
  border: 1px solid #ddd;
  padding: 8px;
}

#plot tr:nth-child(even){background-color: #f2f2f2;}

#plot tr:hover {background-color: #ddd;}

#plot th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}