.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin:auto;
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  padding: 24px 48px;
}

@media (max-width: 768px) {
  .container .btn {
    font-size: 24px;
    padding: 14px 24px;
  }
}

.container .btn:hover {
  background-color: grey;
}


#plot, #plot_results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

#plot td, #plot th, #plot_results td, #plot_results th {
  border: 1px solid #ddd;
  font-size: 26px;
  padding: 12px;
}

@media (max-width: 768px) {
    #plot td, #plot th, #plot_results td, #plot_results th {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 8px;
  }
}

#plot tr:nth-child(even){background-color: #f2f2f2;}
#plot tr:nth-child(odd){background-color: #ffffff;}
#plot_results tr:nth-child(even){background-color: #f2f2f2;}
#plot_results tr:nth-child(odd){background-color: #ffffff;}

#plot tr:hover {background-color: #ddd;}
#plot_results tr:hover {background-color: #ddd;}

#plot th, #plot_results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}

// #plotshow, .button {
//   background-color: #908d8d;
//   width: 20%;
//   display: block;
// }


// #plotshow, .button:visited {
//   background-color: #908d8d;
// }

// #plotshow, .button:hover {
//   background-color: #636262;
// }
