// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

@media (max-width: 768px) {
  #users td, #users th {
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#users tr:nth-child(even){background-color: #f2f2f2;}
#users tr:nth-child(odd){background-color: #ffffff;}


#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #4CAF50;
  color: white;
}